baseline_submission.csv
js_train_label.csv
js_train_data.csv
js_submission10_01_2.csv
js_submission10_01_3.csv
js_submission_10_01.csv
js_submission10_05.csv
js_submission10_05_2.csv
saved_model.pt
saved_model10_07.pt
js_submission10_07_1.csv
js_submission10_07_2.csv
saved_model10_07_2.pt